@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Oswald|Tajawal');

*{
	box-sizing: border-box;
}

/* Link Styles */
a{
	text-decoration-line: none;
}
body{
		
	background: #fafafa;
}
.title{
	height: 3em;  
  	line-height: 3em;
  	font-size: 25px;
  	font-family: 'Do Hyeon', sans-serif;
  	letter-spacing: 1px;
  	color: #222;
}
.nav-bar a{
	text-transform: uppercase;
	background: #fff;
	margin-bottom: 2px;
	display: block;
	height: 3em;  
  	line-height: 3em;
  	font-family: 'Oswald', sans-serif;
  	letter-spacing: 1px;
  	color: #222;
}

/* Section Styles */
.container{
	text-align: center;
	width:100%;
	padding: 0 .5em;
	margin: 0 auto;
}

/* Section Styles for Photo*/
.photo img{
	width: 65%;
}

/* Section Styles for card*/
.card img {
	width:100%;

}
/* Section Styles for Text on Page*/
.text{
	font-family: 'Tajawal', sans-serif;
	color: #7f7f7f;
	font-size: 1.2em;
	line-height: 20px;
	margin-top:20px;
}
h3{
	font-family:'Do Hyeon', sans-serif;
  	letter-spacing: 1px;
  	color: #222;
  	text-transform: uppercase;
  	margin: 60px auto 35px;x;
}

/* Styles for larger screens */