@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Oswald|Raleway|Tajawal');

*{
	box-sizing: border-box;
}

/* Link Styles */
a{
	text-decoration-line: none;
}
body{
		
	background: #fff;
}

header{
	background: #fafafa;
}
.title{
	height: 3em;  
  	line-height: 3em;
  	font-size: 25px;
  	font-family: 'Do Hyeon', sans-serif;
  	letter-spacing: 1px;
  	color: #222;
}
/* Section Styles for Navigation*/
.nav-bar a{
	text-transform: uppercase;
	background: #fff;
	margin-bottom: 2px;
	display: block;
	height: 3em;  
  	line-height: 3em;
  	font-family: 'Oswald', sans-serif;
  	letter-spacing: 1px;
  	color: #222;  	
  	width: 100%;
}

/* Section Styles */
.container{
	text-align: center;
	width:90%;
	margin: 0 auto;
}

/* Section Styles for Photo*/
header{
	padding-bottom: 50px;
}
.photo{
	 margin-top: 35px;
}
.photo img{
	width: 65%;
	margin-bottom: 15px;
}

/* Section Styles for card*/
.card img {
	width:100%;
	margin-top: 20px;

}
/* Section Styles for Text on Page*/
.card .text{
	width:85%;
	margin:15px auto 0;
}
.text{
	font-family: 'Tajawal', sans-serif;
	color: #7f7f7f;
	font-size: 1.2em;
	line-height: 20px;
}
.card h2{
	font: 20px'Raleway', sans-serif;
	letter-spacing: 1px;
	margin-top: 25px;
	font-weight: bold;
	color: #4a4a4a;
}
h3{
	font-family:'Do Hyeon', sans-serif;
  	letter-spacing: 1px;
  	color: #222;
  	text-transform: uppercase;
  	margin: 30px auto 35px;
}

/* Section Styles for Conatact*/

.contact{
	text-align: center;
	margin-top: 30px;
}
.contact h3{
	margin-top:0;
	padding-top: 30px;
}
.contact span{
	font-weight: bold;
}
.space {
	margin-top:20px;
}
/* Styles for Footer */
.background{
	background: #fafafa;
}
.foot-nav{
	margin-top:40px;
	border-top:1px solid #d3d3d3;
	font-family: 'Do Hyeon', sans-serif; 
	color: #7f7f7f;
	display: table;
	clear: both;
	content: "";
	width: 100%;
}
.left-float,
.right-float{	
	margin: 20px 0;
}
.right-float{
	float:right;	
}
.left-float{
	float:left;

}
.hiden{
	display: none;    
    text-transform: uppercase;    
}
.right-float a{
	display: block;
	color: #7f7f7f;
}


/* Styles for larger screens */

@media (min-width: 768px){

	/* Section Styles for Navigation*/
	
	.nav-bar li{
		float: left;	
		margin-right: 25px;
	}
	.nav-bar li:last-child{
	margin: 0;
	}
	.nav-bar a{		
		background: inherit;
	}
	.nav-bar{
		margin: 0 auto 20px;
	}
	.clearfix{
		display: table;
		content: "";
		clear: both;
	}
	/* Section Styles for Photo*/
	.photo{
		float: right;
		margin: 0;
		text-align: right;
		width: 40%;
	}
	.photo img{
		margin-bottom: 0;
		width: 100%;
	}
	.txt-icon{
		width: 55%;
		text-align: left;
	}

	/* Section Styles for Card*/
	.card{
		width:48%;		
	}
	.flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

	}
}
@media (min-width: 1024px){
	.card{
		width:32%;		
	}
}